/SnapNotes.xcodeproj/project.xcworkspace/xcuserdata/*
/SnapNotes.xcodeproj/xcuserdata/*
/SnapNotes.xcworkspace/xcuserdata/*
/SnapNotes/Base.lproj/Icon\r
/SnapNotes/Icon\r
/SnapNotes/Images.xcassets/AppIcon.appiconset/Icon\r
/SnapNotes/Images.xcassets/Icon\r
/SnapNotes/TempNoteImages/Icon\r
/SnapNotesTests/Icon\r
