SnapNotes.xcodeproj/project.xcworkspace/xcuserdata/Icon\r
SnapNotes.xcodeproj/project.xcworkspace/xcuserdata/myrmidon.xcuserdatad/Icon\r
SnapNotes.xcodeproj/xcuserdata/Icon\r
SnapNotes.xcodeproj/xcuserdata/myrmidon.xcuserdatad/Icon\r
SnapNotes.xcodeproj/xcuserdata/myrmidon.xcuserdatad/xcschemes/Icon\r
SnapNotes.xcworkspace/xcuserdata/
SnapNotes/Base.lproj/Icon\r
SnapNotes/Icon\r
SnapNotes/Images.xcassets/AppIcon.appiconset/Icon\r
SnapNotes/Images.xcassets/Icon\r
SnapNotes/TempNoteImages/Icon\r
SnapNotesTests/Icon\r
